[Desktop Entry]
Name=Imagot
GenericName=Imagot
Comment=Image viewer made in Godot!
Exec=imagot %F
Icon=io.github.mlm_games.imagot
Terminal=false
Type=Application
Categories=Graphics;Viewer;
MimeType=image/png;image/jpeg;image/jpg;image/webp;image/bmp;image/tga;image/svg+xml;image/x-exr;image/vnd.radiance;
